body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    color: white;
}

a:link, a:visited, a:hover{
    color: white;
    font-weight: bold;
}

header, footer{
    background-color: #222F3F;
    margin: 0 auto;
}

header{
    padding-top: 10px;

}

#logo{
    margin-left: 20px;
    margin-bottom: 10px;
}

#logo img{
    width: 7%;
}

nav{
    background-color: #354758;
    width: 100%;
}

header nav ul{
    margin-left: 20px;
    width: 100%;

}

header nav li{
    margin-right: 2%;
    list-style-type: none;
}

header nav ul, header nav li{
    display: inline-block;
    padding-left: 0;
}

main {
    background-color: #E9EDEE;
    padding-top: 30px;
}

#miniBanner, #banner, #sequencePhoto, .bigImage{
    width: 90%;
    margin: 0 auto;
}

#miniBanner{


    background-color: #F66500;
    text-align: center;
    padding: 5px 0;
   
}
#minibanner, #banner, #sequencePhoto{
    margin-bottom: 40px;
}


#banner {
    background-image: url(../images/bg-image.png);
    background-size:contain;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sequencePhoto {
    width: 86%;
    background-color: white;
    color: black;
    padding: 0 2% 30px 2%;
}

.titleOf{
    width: 100%;
}
.titleOf p{
    color: black;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;

}

.titleOf span{
    display: inline-block;
    color: #658994;
    font-weight: bold;
    font-size: 1.2em;
 }

 #sequenceOf {
    width: 100%;

 }

.photoOfSequence{
    display: inline-block;
    width: 23%;
    margin-right: 2%;


}
.photoOfSequence:last-child{
    margin-right: 0;
}


.photoOfSequence img{
    height: 300px;

    max-width: 100%;
    border-radius: 10%;
    box-shadow: 3px 3px 20px 1px gray, -3px -3px 20px 1px gray;
    

}
.bigImage{
    text-align: center;
}

.bigImage img{
    width: 100%;
}

footer{
    text-align: center;
}

#logoFooter{
    padding: 50px 0 50px 0;
}

#logoFooter img{
    width: 12%;
}



footer nav{
    padding: 20px 0 20px 0;
}
